<div style="margin-top: 20%;" class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found!</div>
                <div class="error-actions">
                    <a href="/loginLanding" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home">Take Me Home</span></a>
                </div><br>
                <div>    <img style="width: 350px;" src="../assets/images/404-3.jpg" alt="404! Image Not Found!">
                </div>
            </div>
        </div>
    </div>
</div>