<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fa fa-heartbeat fa-3x"></i></h1>
            <h2>Welcome to Matcha</h2>
            <p><strong>Create an account or login</strong></p><br>
            <a href="/signup" class="btn btn-primary btn-block mb-2">Signup</a><br>
            <a href="/login" class="btn btn-secondary btn-block mb-2">Login</a>
        </div>
    </div>
</div>