<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a href="/loginLanding/1" class="nav-item nav-link active">Home</a>
            <a href="/updateProfile" class="nav-item nav-link">Update Profile</a>
            <a href="/myProfile" class="nav-item nav-link">My Profile</a>
            <a href="/imageUpload" class="nav-item nav-link">Update Images</a>
            <a href="/myLikes" class="nav-item nav-link">My Likes</a>
            <a href="/myMatches" class="nav-item nav-link">My Matches</a>
            <a href="/viewedBy" class="nav-item nav-link">Viewed By</a>
            <a href="/likedBy" class="nav-item nav-link">Liked By</a>
            <a href="/search" class="nav-item nav-link">Search</a>
            <a href="/seeBlocked" class="nav-item nav-link">Blocked</a>
            <a href="/contact" class="nav-item nav-link">Contact</a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
        </div>
    </div>
</nav>